* {
    margin: 0px;
    padding: 0px;

}

body{
background-color: rgb(255, 255, 255);
font-family: 'Righteous', cursive;
}

#container{
display: flex;
align-items: center;
}

.box{
    width: 200px;
    border-radius: 15px;
    padding: 20px;
    margin: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

#kf{
background-color: rgb(0, 153, 153);
}

#cf{
background-color: rgb(0, 197, 13);
}

#ck{
background-color: rgb(108, 48, 165);
}

input{
padding: 10px;
margin: 5px;
margin-bottom: 10px;
width: 85%;
}

button{
    padding: 5px;
    width: 45%;
    
}

.convert{
    background-color: rgb(255, 255, 0);
    margin-right: 10px;
}

.convert:hover {
    background-color: rgb(150, 123, 34);
    cursor: pointer;
}

.reset{
    background-color: rgb(255, 0, 0);
    color: white;
}

.reset:hover {  
    background-color: rgb(129, 6, 6);
    cursor: pointer;
}

.namet {
    margin-bottom: 5px;

}

.titleb {
    margin-bottom: 20px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top{
    margin-top: 5%;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {

    #container{
        display: inline;
    }

    .box{
        
        margin-bottom: 15px;
    }


}