* {
    margin: 0px;
    padding: 0px;

}

body{
background-color: rgb(128, 128, 128);
font-family: 'Righteous', cursive;
}

#container{
display: flex;
align-items: center;
}

.box{
    background-color: rgb(224, 145, 145);
    border-radius: 15px;
    padding: 20px;
    margin: 50px;
}

#kf{
background-color: aqua;
}

#cf{
background-color: aquamarine;
}

#ck{
background-color: blueviolet;
}

input{
padding: 10px;
margin: 5px;
margin-bottom: 10px;
width: 85%;
}

button{
    padding: 5px;
    width: 45%;
    
}

.convert{
    background-color: rgb(255, 255, 0);
    margin-right: 10px;
}

.convert:hover {
    background-color: rgb(150, 123, 34);
    cursor: pointer;
}

.reset{
    background-color: rgb(255, 0, 0);
    color: white;
}

.reset:hover {  
    background-color: rgb(129, 6, 6);
    cursor: pointer;
}

.namet {
    margin-bottom: 5px;

}

.titleb {
    margin-bottom: 20px;
}