body{
background-color: gray;

}

#container{
display: flex;
justify-content: center;
align-items: center;
width: 500px;
}

#boxc{


}

input{
padding: 10px;
margin: 5px;
border-radius: 13px;

}

button{
    padding: 5px;
    width: 45%;
    
}

#convert{
    background-color: yellow;
}

#reset{
    background-color: red;
}